// Here you can add other styles
.my-Header {
  background-color: #f5f5f5;
  font-weight: 600;
  font-size: 20px;
  padding: 10px 18px;
}

// font-weight-bold px-3 py-2 border-top border-end border-start rounded-top fw-semibold fs-5
